<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
    <body style="padding: 10px 50px; margin: 0;">
        <h2>Documentation</h2>
        <button onclick="testQuery();">test Query</button>
        <script>
            function testQuery() {

                var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;

                var xhr = new XHR();
                var json = JSON.stringify({
                    host: "test.com"
                });

                xhr.open('DELETE', 'api/adminp/4', true);

                xhr.onload = function() {
                    console.log('this : ', this);
                    console.log('this : ', this.responseText);
                    alert( this.responseText );
                };

                xhr.onerror = function() {
                    alert( 'Ошибка ' + this.status );
                };

                xhr.send(json);

            }
        </script>
    </body>
</html>