<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
    <body style="padding: 10px 50px; margin: 0;">
        <h2>Documentation</h2>
        <div style="max-width: 1200px; width: 100%; margin: 20px auto;">
            <p style="font-size: 20px; font-style: italic;">method <b>GET</b></p>
            <i>/api/adminp/</i> - Все зарегистрированные админки и их данные
            <br>
            <i>/api/adminp/x</i> (где x - id админки) - админка с id <b>x</b> и ее данные
            <br>
            <i>/api/adminp/x/page/y</i> (где x - id админки, y - id страницы) - Страница/LP с id <b>y</b> и ее данные
            <br>
            <i>/api/adminp/x/page/y/scenarios/z</i> (где x - id админки, y - id страницы, z - id сценария)
            - Сценарий с id <b>z</b> и его данные
            <br>
            <br>
            <p style="font-size: 20px; font-style: italic;">method <b>POST</b></p>
            <i>/api/adminp/</i> - регистрация новой админки. Params: {host: name} name - доменное имя админки
            <br>
            <i>/api/adminp/x/page</i> (где x - id админки) - добавление новой страницы/LP. Params: {url: name} name - ссылка на LP
            <br>
            <i>/api/adminp/x/page/y/scenario</i> (где x - id админки, y - id страницы) - добавление нового сценария.
            Params: {popup_id: ppid, steps: steps_arr, filters: filters_arr}
            ppid - id popup'а, steps_arr - массив JSON объектов с шагами, filters_arr - массив JSON объектов с фильтрами
            <br>
            <br>
            <p style="font-size: 20px; font-style: italic;">method <b>DELETE</b></p>
            <i>/api/adminp/x</i> (где x - id админки) - Удаление админки с id <b>x</b> и ее данные
            <br>
            <i>/api/adminp/x/page/y</i> (где x - id админки, y - id страницы) - Удаление страницы/LP с id <b>y</b> и ее данные
            <br>
            <i>/api/adminp/x/page/y/scenario/z</i> (где x - id админки, y - id страницы, z - id сценария)
            - Удаление сценария с id <b>z</b> и его данные
            <br>

        </div>
        <button onclick="testQuery();">test Query</button>
        <script>
            function testQuery() {

                var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;

                var xhr = new XHR();
                var json = JSON.stringify({
                    "url" : "http:/otball1111155555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555111"
                });
                /*var json = JSON.stringify({
                    scenario_id: 3,
                    popup_id: 33,
                    steps: [
                        {
                            step_id : 1,
                            parameter : 50
                        },
                        {
                            step_id : 3,
                            parameter : 80
                        }],
                    filters: {
                        geo : {},
                        device : {},
                        time_table : {},
                        user_access : {new : 0, old : 1}
                    }
                });*/
                /*var json = JSON.stringify({
                    popup_id: 1,
                    steps: [{step_id:1,parameter:55}],
                    filters: {geo: {},
                        device: {},
                        time_table: {},
                        user_access: {new: 0,old: 1}}});*/

                /*xhr.open('delete', '/api/adminp/asdsa', true);*/
                xhr.open('post', '/api/adminp/7/page', true);
                /*xhr.open('post', '/api/adminp/5/page/2332/scenario', true);*/
                /*xhr.open('post', 'http://localhost:8080/api/adminp/', true);*/
                /*xhr.open('GET', 'http://magic.com/', true);*/

                xhr.onload = function() {
                    console.log('this : ', this);
                    console.log('this : ', this.responseText);
                    alert( this.responseText );
                };

                xhr.onerror = function() {
                    alert( 'Ошибка ' + this.status );
                };

                xhr.send(json);

            }
        </script>
    </body>
</html>