<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
    <body style="padding: 10px 50px; margin: 0;">
        <h2>Documentation</h2>
        <button onclick="testQuery();">test Query</button>
        <script>
            function testQuery() {

                var XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;

                var xhr = new XHR();
                var json = JSON.stringify({
                    host : "optimization5.guide"
                });
                /*var json = JSON.stringify({
                    popup_id: "33",
                    steps: [
                        {
                            "step_id": "1",
                            "parameters": {
                                "param1": "77",
                                "param2": "54"
                                }
                        },
                        {
                            "step_id": "2",
                            "parameters": {
                                "param1": "1",
                                "param2": "2"
                            }
                        }],
                    filters: {
                        "geo": {},
                        "device": {},
                        "time_table": {},
                        "user_access": {"new" : 0, "old" : 1}
                    }
                });*/

                /*xhr.open('POST', 'api/adminp/6/page/3/scenario', true);*/
                xhr.open('DELETE', 'api/adminp/10', true);

                xhr.onload = function() {
                    console.log('this : ', this);
                    console.log('this : ', this.responseText);
                    alert( this.responseText );
                };

                xhr.onerror = function() {
                    alert( 'Ошибка ' + this.status );
                };

                xhr.send(json);

            }
        </script>
    </body>
</html>